
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(209, 34%, 30%);
}
@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}


.btn {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.438);
  color: rgba(104, 101, 208, 0.658);
  box-shadow: #2c2e31;
  letter-spacing:  0.1rem;
  display: flex;
  transition:  all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid ;
  cursor: pointer;
  
  border-radius:  0.25rem;
}
.btn:hover {
  color:  hsl(205, 78%, 60%);
  background:  hsl(205, 100%, 96%);
  border-color:  hsl(205, 100%, 96%);
}


.block {
  min-height: 50vh;
}
.bcg-black {
  background: #2c2e31;
}

.container {
  width: 90vw;
  max-width: 730px;
  background: white;
  margin: 0 auto;
  margin-top: -200px;
  border-radius:  0.25rem;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: hsl(210, 36%, 96%);
  border-top-left-radius:  0.25rem;
  border-top-right-radius:  0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.container img {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
}

.user-title {
  font-size: 18px;
  margin-bottom: 0;
}
.user-value {
  color: hsl(209, 61%, 16%);
  font-size: 28px;
}
.values-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}
.icon {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color:hsl(122, 50%, 44%);
  transition: all 0.3s linear;
}
.icon:hover {
  color:  hsl(128, 38%, 64%);
}
.active {
  color:  hsl(205, 78%, 60%);
}
.btn {
  margin: 0 auto;
  ;
  
}

@media screen and (min-width: 800px) {
  .user-value {
    font-size: 38px;
  }
  .icon {
    font-size: 2rem;
  }
}

h1,h3{
  align-items: center;
  color: white;
  font-weight: normal;
  padding: 5px;
}
.title{
  margin: 0;
  justify-content: center;
  position: relative;
  padding: 30px;
  text-align: center;
}
.left{
  position: relative;
  float: left;
  height: 50px; line-height: 50px;
  margin-top: 150px;
  

}

.right{
  position: relative;
  float: right;
  height: 50px; line-height: 50px;
  margin-top: 150px;
}












